<!-- UI Kit Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>


<div style="display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;">
    <h1>Shaai dashboard</h1>
    <form style="width:400px;">
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input id="input-field-username" class="uk-input" id="author" type="text" placeholder="Username">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input id="input-field-password" class="uk-input" id="author" type="password" placeholder="Password">
            </div>
        </div>

        <% if(pageType == 'signup'){ %>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input id="input-field-confirm-username" class="uk-input" id="author" type="password" placeholder="Confirm password">
            </div>
        </div>
        <% }%>

        <p class="uk-margin">
            <button id="submitButton" class="uk-button uk-button-primary" style="width:100%"><%- pageType %></button>
        </p>
        
        <% if(pageType == 'login'){ %>
            <a href="/signup">Don't have a account yet? Signup</a>
        <% }%>
          
    </form>
</div>

<script>
    window.onload = (ev => {
        let blogCode = localStorage.getItem('blogCode')
        if (blogCode)
            window.open(`/blogs/${blogCode}`, '_self');
        const submitButton = document.getElementById('submitButton')
        submitButton.onclick = (ev => {
            ev.preventDefault()
            const username = document.getElementById('input-field-username')
            const password = document.getElementById('input-field-password')
            const confirmUsername = document.getElementById('input-field-confirm-username')

            if (confirmUsername && confirmUsername.value != password.value)
                return alert('password mismatch')
            fetch(`/${confirmUsername ? 'signup' : 'login'}`, {
                method: 'post',
                body: JSON.stringify({
                    username: username.value,
                    password: password.value
                }),
                headers: new Headers({ 'content-type': 'application/json' }),
            }).then(function (response) {
                return response.json();
            }).then(function (res) {
                if (res.data) {
                    window.open(`/blogs/${res.data.blogCode}`, '_self');
                    localStorage.setItem('userToken', res.data.userToken)
                    localStorage.setItem('blogCode', res.data.blogCode)
                }
            });
        })
    })

</script>
